<h1>My Submitted Services</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Hours</th>
      <th>Date Performed</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.description %></td>
        <td><%= service.hours %></td>
        <td><%= service.date_performed %></td>
        <td><%= service.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>