<h1>Submit a Service</h1>

<%= form_with model: @service, local: true do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :hours %><br>
    <%= form.number_field :hours, step: 0.1 %>
  </div>

  <div>
    <%= form.label :date_performed %><br>
    <%= form.date_field :date_performed %>
  </div>

  <div>
    <%= form.label :committee %><br>
    <%= form.select :committee, Service::COMMITTEES.map { |c| [c.titleize, c] },
                    prompt: "Select a committee" %>
  </div>

  <%= form.submit "Submit Service" %>
<% end %>