<%= form_with model: @user, local: true do |f| %>
  <% if @user.errors.any? %>
    <div class="mb-4 p-3 rounded bg-red-100 text-red-800">
      <p><strong><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</strong></p>
      <ul class="list-disc ml-6">
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email, required: true %>
  </div>

  <div>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, required: true %>
  </div>

  <div>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, required: true %>
  </div>

  <%# Password fields only on create %>
  <% unless @user.persisted? %>
    <div>
      <%= f.label :password %><br>
      <%= f.password_field :password, autocomplete: "new-password", required: true %>
    </div>

    <div>
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
    </div>
  <% end %>

  <div>
    <%= f.label :graduation_year, "Graduation year" %><br>
    <%= f.number_field :graduation_year, min: 2020, step: 1 %>
  </div>

  <div>
    <%= f.label :major %><br>
    <%= f.text_field :major %>
  </div>

  <div>
    <%= f.label :t_shirt_size, "T shirt size" %><br>
    <%= f.select :t_shirt_size,
                 options_for_select(%w[XS S M L XL XXL XXXL], @user.t_shirt_size),
                 include_blank: true %>
  </div>

  <% if current_user&.exec? %>
    <div>
      <%= f.label :status %><br>
      <% statuses_for_select = User.statuses.keys.map { |s| [s.humanize, s] } %>
      <%= f.select :status, options_for_select(statuses_for_select, @user.status || "active") %>
    </div>
  <% end %>

  <% if current_user&.president? %>
    <div>
      <%= f.label :position %><br>
      <%= f.text_field :position %>
    </div>

    <div>
      <%= f.label :role %><br>
      <% roles_for_select = User.roles.except('nonmember').keys.map { |r| [r.humanize, r] } %>
      <%= f.select :role, options_for_select(roles_for_select, @user.role || "member"), include_blank: false %>
    </div>
  <% else %>
    <%# ensure a role value is sent on create for execs too %>
    <% unless @user.persisted? %>
      <%= f.hidden_field :role, value: (@user.role || "member") %>
    <% end %>
  <% end %>

  <div>
    <%= f.label :headshot, "Headshot" %>
    <%= f.file_field :headshot %>
    <% if @user.headshot.attached? %>
      <p>Current Active headshot:</p>
      <%= image_tag @user.headshot %>

      <%= f.check_box :remove_headshot, {}, "1", "0" %>
      <%= f.label :remove_headshot, "Remove headshot" %>
    <% end %>
  </div>

  <div>
    <%= f.submit(@user.persisted? ? "Update User" : "Create User") %>
  </div>
<% end %>

