<div class="container-fluid bg-dark-gray-blue text-white py-3">
  <h2 class="text-center font-primary-title"><%= @user.persisted? ? "Update a Member" : "Create a Member" %></h2>
</div>
<div class="container-fluid bg-gold py-1"></div>

<div class="container my-4 p-4 border border-4 border-white bg-dark-navy text-white default-border-radius">
  <%= form_with model: @user, local: true do |f| %>
    <% if @user.errors.any? %>
      <div class="container-fluid bg-gold text-dark-navy py-2 mb-3">
        <p class="text-center mb-0 h5">Please fix the highlighted fields.</p>
      </div>
    <% end %>

    <div class="row g-3">
      <div class="col-md-6">
        <%= f.label :first_name, class: "form-label text-white" %>
        <%= f.text_field :first_name, class: "form-control form-dark" %>
      </div>
      <div class="col-md-6">
        <%= f.label :last_name, class: "form-label text-white" %>
        <%= f.text_field :last_name, class: "form-control form-dark" %>
      </div>

      <div class="col-md-12">
        <%= f.label :email, class: "form-label text-white" %>
        <%= f.email_field :email, class: "form-control form-dark" %>
      </div>

      <div class="col-md-6">
        <%= f.label :position, class: "form-label text-white" %>
        <%= f.text_field :position, class: "form-control form-dark" %>
      </div>
      <div class="col-md-6">
        <%= f.label :t_shirt_size, "T-Shirt Size", class: "form-label text-white" %>
        <%= f.select :t_shirt_size, %w[XS S M L XL XXL XXXL], {}, class: "form-select form-dark" %>
      </div>

      <div class="col-md-6">
        <%= f.label :graduation_year, class: "form-label text-white" %>
        <%= f.number_field :graduation_year, class: "form-control form-dark" %>
      </div>
      <div class="col-md-6">
        <%= f.label :major, class: "form-label text-white" %>
        <%= f.text_field :major, class: "form-control form-dark" %>
      </div>

      <% if current_user&.exec? %>
        <div class="col-md-6">
          <%= f.label :status, class: "form-label text-white" %>
          <%= f.select :status, User.statuses.keys.map { |v| [v.humanize, v] }, {}, class: "form-select form-dark" %>
        </div>
      <% end %>

      <% if current_user&.president? %>
        <div class="col-md-6">
          <%= f.label :role, class: "form-label text-white" %>
          <%= f.select :role, User.roles.keys.map { |v| [v.humanize, v] }, {}, class: "form-select form-dark" %>
        </div>
      <% end %>

      <div class="col-md-12">
        <%= f.label :headshot, "Member Photo", class: "form-label text-white" %>
        <%= f.file_field :headshot, class: "form-control form-dark" %>
      </div>
    </div>

    <div class="d-flex gap-2 mt-4">
      <%= f.submit (@user.persisted? ? "Update Member" : "Create Member"), class: "btn btn-gold text-dark-navy default-border-radius" %>
      <%= link_to "â† Back to Dashboard", users_path, class: "btn btn-gold text-dark-navy default-border-radius" %>
    </div>
  <% end %>
</div>
<div class="container-fluid bg-gold py-1"></div>

