<h1>Members</h1>

<section>
    <div>
        <h2>Executive Board</h2>
        <ul>
            <% @execs.each do |user| %>
                <li>
                    <img src="<%= user.image_url %>" alt="<%= user.full_name %>">
                    <p><strong><%= user.full_name %> '<%= user.graduation_year%></strong></p>
                    <p><strong><%= user.position %></strong></p>
                    <p><%= user.major %></p>
                </li>
            <% end %>
        </ul>
    </div>
</section>

<% @committees.each do |committee| %>
    <section>
        <div>
            <h2><%= committee.name %> Committee</h2>
            <ul>
                <% committee.users.each do |user| %>
                    <li>
                        <img src="<%= user.image_url %>" alt="<%= user.full_name %>">
                        <p><strong><%= user.full_name %> '<%= user.graduation_year%></strong></p>
                        <p><%= user.major %></p>
                    </li>
                <% end %>
            </ul>
        </div>
    </section>
<% end %>