<h1><%= @user.full_name %></h1>

<dl>
    <dt>Email</dt><dd><%= @user.email %></dd>
    <dt>First name</dt><dd><%= @user.first_name %></dd>
    <dt>Last name</dt><dd><%= @user.last_name %></dd>
    <dt>Graduation year</dt><dd><%= @user.graduation_year %></dd>
    <dt>Major</dt><dd><%= @user.major %></dd>
    <dt>T-Shirt size</dt><dd><%= @user.t_shirt_size %></dd>
    <dt>Status</dt><dd><%= @user.status.humanize %></dd>
    <dt>Position</dt><dd><%= @user.position %></dd>
    <dt>Role</dt><dd><%= @user.role.humanize %></dd>
    <dt>Image URL</dt><dd><%= @user.image_url %></dd>
</dl>

<img src="<%= @user.image_url %>">

<p>
    <%= link_to 'Edit', edit_user_path(@user) %>
    <%= link_to 'Delete', delete_user_path(@user) %>
</p>