<h1><%= @committee.name %> Committee</h1>

<% if current_user&.exec? %>
    <div><%= link_to "Edit Committee", edit_committee_path(@committee) %></div>
    <div><%= link_to "Delete Committee", delete_committee_path(@committee) %></div>
<% end %>

<p><%= @committee.description %></p>

<p>
    <strong>Members:</strong>
    <ul>
    <% @committee.users.each do |member| %>
        <li>
            <% if member.image_url.present? %>
                <img src="<%= member.image_url %>">
            <% end %>
            <p><%= member.full_name %></p>
        </li>
    <% end %>
    </ul>
</p>

<% # Committee membership management %>

<% if current_user&.exec? %>
    <%= form_with url: committee_committee_memberships_path(@committee), method: :post, local: true do %>
        <h2>Add Member</h2>
        <%= select_tag :user_id, options_from_collection_for_select(@non_members, :id, :full_name), prompt: "Select User" %>
        <%= submit_tag "Add Member" %>
    <% end %>
    <%= form_with url: committee_committee_membership_path(@committee, 0), method: :delete, local: true do %>
        <h2>Remove Member</h2>
        <%= select_tag :user_id, options_from_collection_for_select(@members, :id, :full_name), prompt: "Select User" %>
        <%= submit_tag "Remove Member" %>
    <% end %>
<% end %>