<h1><%= @committee.name %> Committee</h1>

<section>
    <p><%= @committee.description %></p>
</section>

<section>
    <h2><%= @committee.section1_heading %></h2>
    <p><%= @committee.section1_body %></p>
    <% if @committee.primary_image.present? %>
        <%= image_tag @committee.primary_image.variant(resize_to_limit: [500, 500]) %>
    <% end %>
</section>

<section>
    <h2><%= @committee.section2_heading %></h2>
    <p><%= @committee.section2_body %></p>
    <% if @committee.secondary_image.present? %>
        <%= image_tag @committee.secondary_image.variant(resize_to_limit: [500, 500]) %>
    <% end %>
</section>

<section>
    <h2>Members:</h2>
    <ul>
    <% @committee.users.each do |member| %>
        <li>
            <% if member.image_url.present? %>
                <img src="<%= member.image_url %>">
            <% end %>
            <p><%= member.full_name %></p>
        </li>
    <% end %>
    </ul>
</section>